body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightsteelblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 500px;
    background-color: lightslategrey;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

form label {
    padding-right: 300px;
}

.form-Container h2, label {
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;

}

form input, textarea, select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 6px;
}

button {
    display: block;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
}

button:hover {
    background-color: greenyellow;
    color: black;
}
