body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightsteelblue;
}

#activite-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

#container {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    align-items: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navBar {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50px;
}

.navBar li {
    margin: 0 10px;
}

.navBar li a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.navBar li a:hover,
.navBar li a:focus {
    border-bottom: 3px solid black;
}

header {
    background-color: lightcyan;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;

}

#imgHeader {
    height: 80%;
    width: auto;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    font-size: smaller;
}

.containerFooter {
    padding: 30px;
    display: flex;
    width: 100%;
}

#boite1 {
    width: 30%;
}

#boite2 {
    width: 60%;
}

#boite3 {
    width: 10%;
}