body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #B8CBD0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-Container:hover form {
    background-color: #7A90A4;
}

form {
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 0px;
    font-weight: bold;
    color: black; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.form-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 500px;
    background-color: #709CA7;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}

form label {
    padding-right: 300px;
}

.form-Container h2, label {
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;

}

form input, textarea, select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 6px;
}

button {
    display: block;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
}

button:hover {
    background-color: greenyellow;
    color: black;
}

.navBar {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 0;             
    padding: 0;            
    height: 50px;           
}

.navBar li {
    margin: 0 10px; 
}

.navBar li a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
    color: black;
    transition: 0.5s;
}

.navBar li a:hover, .navBar li a:focus {
    border-bottom: 3px solid black;
}
.active {
    border-bottom: 2px solid black;
    font-weight: bold;                              
}
header {
    background-color: #137C8B;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

}
html {
    font-family:Arial, Helvetica, sans-serif;
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    
}
#imgHeader {
    height: 80%;
    width: auto;   
}

footer {
    background-color: #344D59;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    font-size: smaller;
}
.containerFooter {
    padding: 30px;
    display: flex;
    width: 100%;  
}
#boite1 {
    width: 30%;
}
#boite2 {
    width: 60%;
}
#boite3 {
    width: 10%;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.erreur {
    color: red;
}
.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}